In [1]:
import pandas as pd

# Lyric Data

In [3]:
#read in lyric data

path = r'C:\Users\Duncan\Desktop\School\Data Mining\data\\'
file = r'full_cleaned_sample.csv'

lyric_df = pd.read_csv(path + file)
lyric_df.head()

,Unnamed: 0,title,artist,chart,full_lyrics,lang
0,3,0 to 100 the catch up,drake,1,part i 0 to 100 verse 1 fuck bein on some chil...,en
1,94,1 2 3 4 sumpin new,coolio,1,this is some of the linguafringa of da funk bu...,en
2,95,1 2 3 red light,1910 fruitgum company,1,1910 fruitgum company miscellaneous 1 2 3 red ...,en
3,105,1 2 step,ciara and missy elliott,1,ladies and gentleman ladies and gentleman this...,en
4,165,1 thing,amerie,1,oh been tryin to let it go tryin to keep my ey...,en

In [ ]:
lyric_df.drop('Unnamed: 0', axis=1, inplace=True)
lyric_df.drop('lang', axis=1, inplace=True)
lyric_df.drop('full_lyrics', axis=1, inplace=True)

lyric_df.reset_index(inplace=True, drop=True)

In [6]:
lyric_df.shape

(46574, 3)

# Empath Data

In [7]:
#read in empath data

path = r'C:\Users\Duncan\Desktop\School\lyric_analysis\feature_engineering\\'
file = r'empath_df.csv'

empath_df = pd.read_csv(path + file)
empath_df.head()

,Unnamed: 0,achievement,affection,aggression,air_travel,alcohol,ancient,anger,animal,anonymity,...,wealthy,weapon,weather,wedding,white_collar_job,work,worship,writing,youth,zest
0,0,0.001119,0.002237,0.001119,0.000000,0.001119,0.0,0.0,0.001119,0.0,...,0.002237,0.002237,0.002237,0.000000,0.001119,0.002237,0.004474,0.002237,0.006711,0.0
1,1,0.000000,0.001493,0.000000,0.001493,0.001493,0.0,0.0,0.000000,0.0,...,0.001493,0.000000,0.000000,0.010448,0.000000,0.000000,0.002985,0.000000,0.004478,0.0
2,2,0.000000,0.027586,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020690,0.0
3,3,0.002288,0.011442,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,...,0.002288,0.000000,0.000000,0.011442,0.000000,0.006865,0.000000,0.000000,0.002288,0.0
4,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [8]:
empath_df.drop('Unnamed: 0', axis=1, inplace=True)
empath_df.reset_index(inplace=True, drop=True)

In [10]:
empath_df.shape

(46574, 198)

# Sentiment Data

In [11]:
#read in sentiment data

path = r'C:\Users\Duncan\Desktop\School\lyric_analysis\feature_engineering\\'
file = r'sentiment_df.csv'

sentiment_df = pd.read_csv(path + file)
sentiment_df.head()

   Unnamed: 0  compound    neg    neu    pos
0           0   -0.9992  0.191  0.743  0.066
1           1    0.9720  0.062  0.833  0.104
2           2   -0.4825  0.182  0.700  0.118
3           3    0.9946  0.030  0.827  0.143
4           4    0.9428  0.003  0.938  0.059

In [12]:
sentiment_df.drop('Unnamed: 0', axis=1, inplace=True)
sentiment_df.reset_index(inplace=True, drop=True)

In [13]:
sentiment_df.shape

(46574, 4)